server:
  port: 8080

spring:
  config:
    activate:
      on-profile: default

  lifecycle:
    timeout-per-shutdown-phase: 20s

  datasource:
    url: jdbc:mysql://localhost:3306/learncha-core?characterEncoding=UTF-8&serverTimeZone=Asia/Seoul
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 20
      read-only: false
      connection-timeout: 3000
      connection-test-query: SELECT 1

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  flyway:
    user: root
    password: 1234
    url: jdbc:mysql://localhost:3306/learncha-core?characterEncoding=UTF-8&serverTimeZone=Asia/Seoul
    enabled: true
    baseline-on-migrate: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: devlearncha@gmail.com
    password: tllliegdwjqfbpyz
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

logging:
  level:
    com.zaxxer.hikari.pool.HikariPool: debug

jwt:
  secret: aaaaaabbbbbbbbcccccccddddddddeeeeeeefffffgggg

---
spring:
  config:
    activate:
      on-profile: prod
    import: 'aws-parameterstore:'

  lifecycle:
    timeout-per-shutdown-phase: 2000

  datasource:
    url: ${jdbc.url}
    username: ${jdbc.username}
    password: ${jdbc.password}
    hikari:
      maximum-pool-size: 20
      read-only: false
      connection-timeout: 1000
      connectionTestQuery: SELECT 1

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: devlearncha@gmail.com
    password: ${mail.password}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

aws:
  paramstore:
    enabled: true
    prefix: /config
    profile-separator: _
    name: api

logging:
  level:
    com.zaxxer.hikari.pool.HikariPool: debug

jwt:
  secret: ${jwt.secret.key}




